body {
	background: url("../images/bg.jpg") center center;
    background-size: cover;
}

.jumbotron {
	text-align: center;
	margin-top: 10px;
}

.panel-heading {
	background-color: #F1D487;
}

li {
	font-size: 1.6rem;
}

.Jewel {
	padding: 10px;
}

#yellow {
	width: 130px;
	margin-left: 27px;
}


h4 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 2rem;
}

#button {
	float: left;
}